<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  <link rel="stylesheet" href="nav.css">
</head>

<body>

  <header class="site-header" role="banner">

    <div class="announcement-text">
      <marquee scrollamount="4">
        <p>!!!GET A CHANCE TO WIN FREE OFFICIAL SIGNED JERSEY ON ORDERING ANY OF OUR OFFICIAL RR HAMPERS!!!</p>
      </marquee>
    </div>


    <nav class="nav">
      <div class="nav-desktop">

        <img src="https://tagzfoods.com/cdn/shop/files/logo_94adfbc0-8cc1-42c4-b3c9-37f11ff10566_145x.png?v=1613718248"
          height="57px" alt="">

        <div class="header-menu ">
          <a href="/" class="nav-link">Home</a>
          <a href="" class="nav-link">Shop</a>
          <a href="" class="nav-link">TagZ X RR</a>
          <a href="" class="nav-link">Gift Hampers</a>
          <a href="" class="nav-link">Blog</a>
          <a href="" class="nav-link">Contact</a>
          <a class="nav-link">
            <div class="header-search">
              <form action="" method="get" class="input-search" role="search">
                <div id="div">
                 <input class="search-box" type="text" >
                  <img class="search" id="searchbtn"
                    src="https://tagzfoods.com/cdn/shop/t/21/assets/search.svg?v=125824235045558824761655720920" class="search-icon"
                    width="16px" alt="">
                </div>
              </form>
            </div>
          </a>
          <a href="" class="nav-link"><img
              src="//tagzfoods.com/cdn/shop/t/21/assets/account.svg?v=152161910560963363051655720920"></a>

          <a href="" class="CartToggle">
            <img src="//tagzfoods.com/cdn/shop/t/21/assets/white-cart.png?v=121047236399240341581655720920"
              style="height:17px;width:17px;">
          </a>
        </div>

      </div>
    </nav>
  </header>


</body>

</html>